<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ini-parser" version="2.3.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net472" />
  <package id="Ookii.Dialogs.WindowsForms" version="1.0" targetFramework="net461" />
  <package id="SharpDX" version="3.1.1" targetFramework="net461" />
  <package id="SharpDX.Direct2D1" version="3.1.1" targetFramework="net461" />
  <package id="SharpDX.DXGI" version="3.1.1" targetFramework="net461" />
  <package id="ValvePak" version="0.4.0.11" targetFramework="net461" />
</packages>